/********************************
*********LANDING PAGE**********
********************************/
.landing-imgs{
    height: 100vh;
    width: 100%;
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.zip-input{
   width: 250px; 
}